<aside class="col-sm-2 nav-sidebar nav-sidebar-wrap pt-4" [ngClass]="{'totales-scroll': scrollActive}">
    <nav class="sticky-top px-0 shadow-none nav-sidebar">
        <ul class="nav-sidebar-bar flex-column list-unstyled">
            <li class="nav-sidebar active">
                <a class="nav-link" href="#">Lista de Peliculas</a>
            </li>
            <li class="nav-sidebar-item">
                <a class="nav-link" href="#">Turnos</a>
            </li>
            <li class="nav-sidebar-item">
                <a class="nav-link" href="#">Adminstradores</a>
            </li>
            <li class="nav-sidebar-item">
                <a class="nav-link" href="#">Cerrar sesión</a>
            </li>
            <li class="nav-sidebar-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Perfil</a>
            </li>
        </ul>
    </nav>
</aside>