.overlay-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1500;
  }
  .modal {
    z-index: 1510;
  }

  .modal-content {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }